.btc-transfer-cont {
  position:relative;
  margin:0 auto;
  background-color:#fff;
  border-radius: 8px;
  width:488px;
  margin-top:30px;
  padding:20px 0 20px 0;
}

.btc-transfer-cont h2{
  text-align:center;
  font-weight:400;
  color:#EF6C00;
}

.form-cont {
  width:90%;
  position:relative;
  margin:0 auto;
}

.form {
  width:100%;
  position:relative;
  margin:0 auto;
  padding:5px;
}

.btc-amount {
  width:100%;
  display:flex;
  flex-direction: column;
  margin:0 auto;
}

.btc-amount input {
  height:42px;
}

.btc-amount small {
  text-align: end;
  position:relative;
  top:-20px;
}

.equivNairaAmount {
  width:100%;
  display:flex;
  flex-direction: column;
  margin:0 auto;
  margin-top:-10px;
}

.equivNairaAmount input {
  height:42px;
}

.reciep-wallet {
  width:100%;
  display:flex;
  flex-direction: column;
  margin:0 auto;
  margin-top:30px;
}

.reciep-wallet input {
  height:42px;
}

.transferBTC-btn {
  width:100%;
  height:42px;
  background-color:#1B5E20;
  border:none;
  color:#fff;
  text-transform: uppercase;
  font-size:14px;
  margin-top:30px;
  border-radius:4px;
}

input {
  border-radius:4px;
  font-size:16px;
  padding-left:20px;
  border:1px solid #cecece;
}

label {
  font-size:16px;
}