header {
  display:flex;
  width:100%;
  align-items:center;
  justify-content:space-around;
  background-color: #fff;
  border-bottom:1px solid #ccc;
  height:10vh;
}

.user-logoCont .fa-user, .notification-cont .fa-bell {
  color:#1B5E20;
}

.left-nav {
  width:40%;
  display:flex;
}

.logo-cont {
  width:40%;
}

.logo-cont img {
  width:100%;
  height:auto;
  display:block;
}

.user-cont {
  width:40%;
  display:flex;
  align-items:center;
  justify-content: center;
}

.username {
  margin-left:10px;
}

.right-nav {
  width:20%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}