.profile {
  width:90%;
  position:relative;
}

.details-cont {
  width:60%;
  position:relative;
  margin:0 auto;
  margin-top:50px;
}

.details-title {
  display:flex;
  width:100%;
  align-items:center;
  justify-content: space-between;
  margin:10px auto;
}

.details-title button {
  height:30px;
  width:50px;
  font-size:14px;
  text-transform: uppercase;
  border-radius:4px;
  border:1px solid #1B5E20;
  color:#1B5E20;
  background-color: transparent;
}

.details-title h6 {
  font-size:20px;
  font-weight:500;
  color:#EF6C00;
}

.details {
  width:100%;
  margin:0 auto;
  background-color:#fff;
  border-radius: 8px;
}

.details h5 {
  padding: 10px 30px;
  font-size:16px;
  font-weight: 400;
}

.security {
  width:60%;
  display:flex;
  margin:0 auto;
  justify-content: space-between;
  margin-top:50px;
}

.security .security-card {
  background-color:#fff;
  width:30%;
  padding:10px;
  height:130px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.security-icon {
  font-size:36px;
}

.security-icon .fa-lock {
  color:#EF6C00;
}

.security .fa-piggy-bank {
  color:#1B5E20;
}

.security .fa-key {
  color:#d32f2f;
}

.security-text {
  font-size:16px;
  width:80%;
  text-align: center;
}