.sidebar {
  background-color:#1B5E20;
  height:90vh;
  width:250px;
  display:flex;
  justify-content: center;
  position:relative;
  transition:0.5s ease-in-out;
}

.big-close {
  width:80px;
}


.bar-item .active {
  background-color:#fff;
  color:#1B5E20;
  
  padding:8px 16px;
  border-radius:4px;
  transition:0.2s ease;
  position:relative;
  transform:translateX(5px);
}

.bar-list {
  position:relative;
  height:50%;
  width:150px;
  top:20px;
  display:flex;
  flex-direction:column;
  list-style-type: none;
  align-items:flex-start;
  justify-content: space-around;
  transition: 0.2s ease;
}

.trim {
  width:80px;
  align-items:center;
}


.burger {
  position:absolute;
  height:25px;
  width:25px;
  border:2px solid #fff;
  background-color:#1B5E20;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top:0px;
  right:-12px;
  z-index:100;
}

.open {
  display:block
}

.close {
  display:none
}

.line {
  background:#fff;
  height:3px;
  width:80%;
}

.warning {
  position:relative;
  margin:0 auto;
}

.bar-link {
  text-decoration: none;
  color:white;
  font-size:18px;
  display:flex;
  align-items:center;
}

.bar-link h6 {
  font-size:18px;
  margin-left:15px;
  font-weight:500;
}